{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <a href="{% url 'addhood' %}" class="btn btn-success mt-4">Add Hood </a>

    <div class="row">
        {% for hood in all_neighborhoods %}
            <div class="col-md-4 ">
                <div class="card mb-4 mt-3 ">
                    <a href="" > <img src="{{ hood.image.url }}" class="card-img-top" alt="{{ hood.name }}"> </a>
                    <div class="card-body">
                        <h5 class="card-title h5">{{ hood.name| title }}  ({{hood.location}})

                            <a href=""> <span class="ml-4 text-center  badge badge-pill badge-success">{{hood.members.count}} member{{hood.members.count|pluralize}}</span> </a>
                            <a href="{% url 'business' %}"> <span class="ml-4 text-center  badge badge-pill badge-info">{{hood.business.count}} Business{{hood.business.count|pluralize}}</span> </a>
                        </h5>
                        <h5 class="card-title h5">

                        </h5>
                        <p class="card-text black-text text-capitalize">{{hood.description}}</p>
                        {% if request.user.user.neighborhood == hood %}
                            <a href="" class="btn rounded-pill btn-secondary btn-sm">Leave Hood</a>
                        {% elif not request.user.user.neighborhood %}
                            <a href="" class="btn rounded-pill btn-success btn-sm">Join Hood</a>
                        {% endif %}
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}