{% extends 'base.html' %}

{% block content %}

<div class="container">
    <a href="{% url 'new_business' %}" class="btn btn-success mt-4">Add a business</a>
    
    <div class="row d-flex mt-4">
        <div class="col-md-4 z-depth-2">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="https://cdn.sortiraparis.com/images/80/96070/697286-photos-boulangerie-baptiste-aux-batignolles-par-joel-defives.jpg" class="img-fluid" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Le petrin de Pierre</h5>
                    <p class="card-text">We manufacturer, sell bread, and possibly offers a range of other food products. It is run by a baker and his apprentices.</p>
                    <a href="#!" class="btn btn-success">Hood</a>
                </div>
            </div>    
        </div>
        <div class="col-md-4 z-depth-2">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="https://www.economie.gouv.fr/files/styles/image_contenu_article_espace/public/files/directions_services/dgccrf/imgs/fiches_pratiques/2021/presentation-etiquetage-lineaire-vin-spiritueux.jpg?itok=jKW7Gj94" class="img-fluid" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">RDV DIX VINS</h5>
                    <p class="card-text">Wine bar with on-site catering products from Figeac merchants.</p>
                    <a href="/business" class="btn btn-success">Businesses</a>
                </div>
            </div>    
        </div>
        <div class="col-md-4 z-depth-2">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="https://lh3.googleusercontent.com/p/AF1QipPFNL6jrFuMZI26fT5NxGOScjPp8NEW5vI1XPlB=w296-h202-n-k-rw-no-v1" class="img-fluid" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Hôtel Mercure Figeac Viguier du Roy</h5>
                    <p class="card-text">Built in the heart of the medieval district of Figeac, the former residence of the Viguiers du Roy for four centuries invites you for an astonishing stay.</p>
                    <a href="#!" class="btn btn-success">Button</a>
                </div>
            </div>    
        </div>
    </div>
            
</div>

{% endblock %}