{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="row d-flex mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="https://www.ahstatic.com/photos/b5v9_ho_00_p_1024x768.jpg" class="img-fluid" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                    <a href="#!" class="btn btn-success">Hood</a>
                </div>
            </div>    
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="https://www.ahstatic.com/photos/b5v9_ho_00_p_1024x768.jpg" class="img-fluid" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                    <a href="/business" class="btn btn-success">Businesses</a>
                </div>
            </div>    
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="https://www.ahstatic.com/photos/b5v9_ho_00_p_1024x768.jpg" class="img-fluid" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                    <a href="#!" class="btn btn-success">Button</a>
                </div>
            </div>    
        </div>
    </div>
            
</div>

{% endblock %}