{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="row d-flex mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="https://images.france.fr/zeaejvyq9bhj/5f7wkW6bjlPsaB6uU39PVR/48f412ad3adfd84a6d395c2c6b4717f5/___Atout_France-Ooshot___WorldElse.png?w=1120&h=490&q=70&fl=progressive&fit=fill" class="img-fluid" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title fw-bold">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                    <a href="/areahood" class="btn btn-success">Join A Hood</a>
                </div>
            </div>    
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="https://revuedescomptoirs.com/static/media/uploads/blog/.thumbnails/resto.jpg/resto-1200x0.jpg" class="img-fluid" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title fw-bold">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                    <a href="/business" class="btn btn-success">Businesses</a>
                </div>
            </div>    
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="https://static.actu.fr/uploads/2020/11/25512-201117092951897-0.jpg" class="img-fluid" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title fw-bold">Gendarmerie</h5>
                    <p class="card-text">Founded in 1791, the National Gendarmerie is a military and armed force, responsible for ensuring the safety of the French population. It is also responsible for maintaining order in the country and enforcing laws and various regulations.</p>
                    <a href="#!" class="btn btn-success">Button</a>
                </div>
            </div>    
        </div>
    </div>
            
</div>

{% endblock %}