{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content%}

    <h2 class="display-5 text-center fw-bold">SUBMIT BUSINESS INFORMATION </h2>

<div class="container">
    <div class="row">
        <!-- Empty div -->
        <div class="col-lg-3"></div>

        <div class="col-lg-6 pt-2 ">
            <form action="{%url 'new_business'%}" method="post" enctype="multipart/form-data">

                {% csrf_token %}

                {{ form | crispy }}
                
                <small>Can't find your neighborhood? You can add a Neighborhood in your <a href="{% url 'profile' %}">
                        Profile page</a>. </small> <br>
                <input type="submit" class="btn btn-success font-weight-bold" value="SUBMIT">
            </form>
        </div>

        <div class="col-lg-3"></div>

    </div>
</div>

{% endblock %}