{% extends 'base.html' %}

{% block content %}

<div class="container " style="margin-top: 5%; background: aqua;">
    <div class="row " style="padding: 5%">
        <div class="col-md-3"></div>

        <div class="zoom view view-cascade" style="padding: 5% ">
            <img class="rounded-circle account-img d-block mx-auto img-thumbnail" src=""
                alt="Card image cap" height="125px" width="125px" style="margin-top: 4%">
            <h5 class="text-center mt-3 h3"></h5>
            <p class="text-center h5"> </p>
            <div class="card-block">
                <p class="card-text text-center"></p>

            </div>
            
                <p class="text-center"> My Hood
                    <a class="btn btn-large rounded-pill btn-dark" href=""></a>
                </p>
            
        </div>
        <div class="col-md-3"></div>
    </div>


</div>

{% endblock %}