<!-- Navbar-->
<nav class="navbar navbar-expand-lg text-black" style="background: #ECECEC;">
    <div class="container-fluid justify-content-between">
        <!-- Left elements -->
        <div class="d-flex">
            <!-- Brand -->
            <ul class="navbar-nav me-2 mb-1 d-flex align-items-center" href="#">
                <li class="nav-item me-3 me-lg-1 active">
                    <a class="nav-link" href="/home">
                        <span><i class="fas fa-home fa-lg text-black"></i></span>
                    </a>
                </li>
            </ul>

            <!-- Search form -->
            <form class="input-group w-auto my-auto d-none d-sm-flex">
                <input autocomplete="off" type="search" class="form-control rounded" placeholder="Search"
                    style="min-width: 125px;" />
                <span class="input-group-text border-0 d-none d-lg-flex"><i class="fas fa-search"></i></span>
            </form>
        </div>
        <!-- Left elements -->

        <!-- Center elements -->
        <ul class="navbar-nav flex-row d-none d-md-flex">


            <li class="nav-item dropdown me-3 me-lg-1">
                <a a class="nav-link dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button"
                data-mdb-toggle="dropdown" aria-expanded="false">
                    <span><i class="fas fa-shopping-bag fa-lg text-black"></i></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                    <li>
                        <a class="dropdown-item" href="/business">Businesses</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Center elements -->

        <!-- Right elements -->
        <ul class="navbar-nav flex-row">
            <li class="nav-item dropdown me-3 me-lg-1">
                <a class="nav-link d-sm-flex align-items-sm-center dropdown-toggle hidden-arrow" href="/profile">
                    <img src="https://images.unsplash.com/photo-1503917988258-f87a78e3c995?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" class="rounded-circle" height="22"
                        alt="Profile Picture" loading="lazy" />
                    <strong class="d-none d-sm-block ms-1 text-black">{{user.username}}</strong>
                </a>
            </li>
            <li class="nav-item me-3 me-lg-1">
                <a class="nav-link" href="#">
                    <span><i class="fas fa-plus-circle fa-lg text-black"></i></span>
                </a>
            </li>
            <li class="nav-item dropdown me-3 me-lg-1">
                <a class="nav-link dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button"
                    data-mdb-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-chevron-circle-down fa-lg"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end text-black" aria-labelledby="navbarDropdownMenuLink">
                    <li>
                        <a class="dropdown-item" href="{% url 'signup' %}">Signup</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'login' %}">LogIn</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Right elements -->
    </div>
</nav>
<!-- Navbar -->
