<header>
    <!-- Intro settings -->
    <style>
        /* Default height for small devices */
        #intro-example {
            height: 400px;
        }

        /* Height for devices larger than 992px */
        @media (min-width: 992px) {
            #intro-example {
                height: 600px;
            }
        }
    </style>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
                aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarExample01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar -->

    <!-- Background image -->
    <div id="intro-example" class="p-5 text-center bg-image"
        style="background-image: url('https://media.istockphoto.com/photos/najac-united-kingdom-picture-id888740426?b=1&k=20&m=888740426&s=612x612&w=0&h=rNzqUlHXstE2FHFkzHasO334kF1zQHkCfvC3tWsjOKg=');">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3">Explore your area</h1>
                    <h5 class="mb-4">Come say hello to newbies, swap recommendations, and catch up on local news.Bienvenue, voisin.</h5>
                    <a class="btn btn-outline-light btn-lg m-2" href=""
                        role="button" rel="nofollow" target="_blank">Login</a>
                    <a class="btn btn-outline-light btn-lg m-2" href=""
                        target="_blank" role="button">Signup</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->
</header>